<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student_dashboard_style.css') }}">
</head>
<body>
    <style>
        .home-image {
        width: 50px; 
        height: auto;
    }

    </style>

    <div id="header">
        <div class="header-left">
            <img src="{{ url_for('static', filename='plment.png') }}" alt="Logo 1" class="header-logo">
        </div>
        <div class="header-right">
            <img src="{{ url_for('static', filename='Career connect.png') }}" alt="Logo 2" class="header-logo">
        </div>
    </div>
    <button class="home-button" onclick="redirectToHome()">
        <img class="home-image" src="{{ url_for('static', filename='home.png') }}" alt="Home Icon"> 
    </button>

    <div class="container">
        <h1>Eligible Companies</h1>
        <ul class="company-list">
            {% for company in companies %}
                <li>
                    {{ company | upper }}
                    {% if company in existing_companies %}
                        <span class="Applied_message"> Applied</span>
                    
                        <form action="{{ url_for('view_interview_details_endpoint') }}" method="post" style="display: inline;">
                            <input type="hidden" name="company_name" value="{{ company }}">
                            <button type="submit" name="action" value="see_interview_details">Interview Details</button>
                        </form>
                        {% else %}
                        <form action="{{ url_for('handle_application_endpoint') }}" method="post" style="display: inline;">
                            <input type="hidden" name="company_name" value="{{ company }}">
                            <button type="submit" name="action" value="apply">Apply</button>
                        </form>
                        <form action="{{ url_for('view_interview_details_endpoint') }}" method="post" style="display: inline;">
                            <input type="hidden" name="company_name" value="{{ company }}">
                            <button type="submit" name="action" value="see_interview_details">Interview Details</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="static/studash.js"></script>

</body>
<script>
    function redirectToHome(){
        window.location.href = "/student_dashboard"
    }
</script>
</html>